<div class="filter-button">
  <button mat-icon-button (click)="openFilters()">
    <mat-icon>filter_list</mat-icon>
  </button>
</div>

<main class="content">
  <h2>Sensores</h2>
  <div class="devices">
    <div class="device-card" *ngFor="let dispositivo of dispositivosFiltrados()">
      <div class="sensor-card">
        <div class="sensor-info">
          <h3>{{ dispositivo.nombre }}</h3>
          <img [src]="dispositivo.image" alt="{{ dispositivo.nombre }}" />
        </div>

        <div *ngFor="let sen of dispositivo.sensors">
          <p><strong>Valor:</strong>
            @if(sen.medicions.length>0){ {{ sen.medicions[(sen.medicions.length-1)].valor}} }
          </p>
          <div class="sensor-chart">
            <canvas baseChart [data]="getChartData(sen)" [options]="chartOptions" [type]="lineChartType"></canvas>
          </div>
        </div>
      </div>

    </div>
  </div>
</main>
