.sidenav-container {
  height: 100vh;
}


.filter-button {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 2000;
}



/* Panel lateral */
.sidebar {
  width: 220px;
  background: #2d6a4f;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.sidebar .logo img {
  width: 100px;
  margin-bottom: 1rem;
}

.user-info {
  text-align: center;
  margin-bottom: 2rem;
}

.user-info i {
  font-size: 40px;
}

.menu {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.menu a {
  color: white;
  text-decoration: none;
  padding: 0.5rem;
  border-radius: 5px;
}

.menu a.active,
.menu a:hover {
  background: #40916c;
}

.logout {
  background: #d00000;
  border: none;
  padding: 0.5rem 1rem;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
.disflex{
display: flex;
gap: 10px;
justify-self: center;
}
/* Contenido */
.content {
  
  flex-grow: 1;
  padding: 1.5rem;
}
.hidden {
  position: absolute;
  left: -9999px; /* mejor usar negativo que 10000px */
  top: -9999px;
  width: 800px;
  height: 600px;
  visibility: hidden; /* opcional, por si alguien usa inspección */
}
.filter {
  margin-bottom: 1.5rem;
}
.filters-panel{
    margin: 10px;
    display: grid;
}
.devices {
  display: grid;
}

.device-card {
  background: white;
  border-radius: 10px;
  margin: 1rem;
  padding: 1em;
  box-shadow: 0px 2px 6px rgba(0,0,0,0.1);
}

.device-card img {
  width: 100px;
  margin: 0.5rem 0;
}

.buttons{
    margin: 0 1.5em;
    display: flex;
    gap: 50px;
    max-width: 260px;
}

.acciones button {
  margin: 0.3rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.acciones .on {
  background: #52b788;
  color: white;
}

.acciones .off {
  background: #d00000;
  color: white;
}

/* Sensores */
.sensor-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.bottons-card{
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: anchor-center;
}
.sensor-extra-info {
  margin: 10px 0;
  padding: 10px;
  border-left: 3px solid #3f51b5;
  background: #f4f6ff;
  border-radius: 4px;
}

.w-100{
  width: 100%;
}
h3{
    margin-right: 1em;
  }
.sensor-info {
 
  gap: 1rem;
    display: flex;
    flex-direction: row;
}

.sensor-chart {
  flex: 1;
  max-height: 150px;   
  height: 300px;
  position: relative;

}

.sensor-chart canvas {
  width: 100% !important;
  height: 100% !important; /* 🔹 fuerza al canvas a ocupar el div */
}

.acciones-finales {
  margin-top: 2rem;
  display: flex;
  gap: 1rem;
}

.acciones-finales button {
  padding: 0.7rem 1.2rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.agregar {
  background: #2d6a4f;
  color: white;
}

.editar {
  background: #40916c;
  color: white;
}


@media (max-width:460px) {
    .sensor-chart {
        min-width: 395px;
        margin-left: -21px;
    }
    .device-card{
        min-width: 350px;
        max-width: 350px;
    overflow: hidden;
    padding: 1.5em;
  }
  
.content {
  padding: 0rem;
}
}

@media (max-width:411px) {

.device-card{
  margin:0;
}

}