<div class="login-wrapper">
  <div class="login-card">
    <img src="assets/logo_3_.png" alt="Logo" class="logo">

    <h2 class="title">Bienvenido</h2>
    <p class="subtitle">Ingresa con tu cuenta</p>

    <form (ngSubmit)="iniciarSesion()">
      <label for="username">Usuario:</label>
      <div class="input-group">
        <span class="icon"><i class="fas fa-user"></i></span>
        <input
          type="text"
          id="username"
          placeholder="Ingrese su usuario"
          [(ngModel)]="user().User"
          name="User"
          required
        >
      </div>

      <label for="password">Contraseña:</label>
      <div class="input-group">
        <span class="icon"><i class="fas fa-lock"></i></span>
        <input
          [type]="showPassword() ? 'text' : 'password'"
          id="password"
          placeholder="********"
          [(ngModel)]="user().Pass"
          name="Pass"
          required
        >
      </div>

      <div class="show-password">
        <input type="checkbox" id="showPassword" (change)="togglePassword()">
        <label for="showPassword">Mostrar Contraseña</label>
      </div>

      <button type="submit" id="Ingresar">Ingresar</button>

      <p class="error" *ngIf="errorMessage()">{{ errorMessage() }}</p>
    </form>
    <a routerLink="/recuperar" class="forgot-password" (click)="goToRecuperar()"><p>¿Olvidó su contraseña?</p></a>
  </div>
</div>
