.container {
  padding: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  background-color: #4CAF50;
  color: white;
}

td, th {
  padding: 10px;
  text-align: left;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}
