.notificaciones-container {
  padding: 20px;
  font-family: Arial, sans-serif;
}

/* Título */
.notificaciones-container h2 {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 15px;
  color: #000000;
}

.paginacion {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  gap: 10px;
}

.paginacion button {
  padding: 6px 12px;
  border: none;
  
  border-radius: 5px;
  background-color: #009688;
  color: #fff;
  cursor: pointer;
  transition: background 0.2s;
}

.paginacion button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.paginacion span {
  font-size: 14px;
  color: #333;
}

/* Tabla */
table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 10px;
  font-size: 0.95rem;
}

thead tr {
  background: #009688;
  color: #fff;
  font-weight: bold;
  text-align: left;
}

th, td {
  padding: 14px 18px;
}

tbody tr {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0px 2px 6px rgba(0,0,0,0.05);
  transition: all 0.2s ease-in-out;
}

tbody tr:hover {
  transform: scale(1.01);
  background: #f9f9f9;
  cursor: pointer;
}

/* Estados */
.no-leida {
  background-color: #e6f7ff !important;
  font-weight: bold;
}

.leida {
  background-color: #fafafa;
  color: #555;
}

/* Loading y sin datos */
.loading, .no-data {
  text-align: center;
  margin-top: 20px;
  color: #555;
  font-style: italic;
}
