<div class="usuarios-container">
  <h2 class="titulo-usuarios">Gestión de Usuarios</h2>
  <table class="tabla-usuarios">
    <thead>
      <tr>
        <th>Rol</th>
        <th>Cédula</th>
        <th>Nombre</th>
        <th>Correo</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      @for(u of usuarios$|async;track u){
      <tr>
        <td>{{ getRolNombre(u.idRol) }}</td>
        <td>{{ u.cedula }}</td>
        <td>{{ u.nombre }}</td>
        <td>{{ u.correo }}</td>
        <td>
          <button class="btn-accion editar" (click)="editarUsuario(u)">Editar</button>
          <button class="btn-accion eliminar" (click)="eliminarUsuario(u.idUsuario!)">Eliminar</button>
        </td>
      </tr>}
    </tbody>
  </table>
</div>
