.usuarios-container {
  padding: 10px;
  font-family: Arial, sans-serif;
}

.titulo-usuarios {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 15px;
  color: #000000;
}

.filtro-rol {
  font-size: 0.95rem;
}

.filtro-rol label {
  margin-right: 8px;
  font-weight: 500;
}

.filtro-rol select {
  padding: 6px 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
}
.filter-item{
  min-width: 140px;
}
.accions {
  padding-bottom: 1.5em;
  display: flex;
  max-height: 40px;
  
    justify-content: center;
}

.buscador {
  display: block;
  width: 100%;
  max-width: 400px;
  padding: 10px 14px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 0.95rem;
  margin :0 100px;
}

/* Tabla */
.tabla-usuarios {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 1px;
  font-size: 0.95rem;
}

.tabla-usuarios thead tr {
  background: #009688;
  color: #fff;
  text-align: left;
  font-weight: bold;
}

.tabla-usuarios th,
.tabla-usuarios td {
  padding:2px 8px;
  text-align: center;
}

.tabla-usuarios tbody tr {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.05);
  transition: all 0.2s ease-in-out;
}

.tabla-usuarios tbody tr:hover {
  transform: scale(1.01);
  background: #f9f9f9;
  cursor: pointer;
}

/* Botones */
.btn-accion {
  border: none;
  padding: 6px 12px;
  margin: 2px 4px;
  border-radius: 6px;
  font-size: 0.85rem;
  cursor: pointer;
  transition: all 0.2s ease;
    min-width: 80px;
}

.btn-accion.editar {
  background: #3498db;
  color: #fff;
}

.btn-accion.editar:hover {
  background: #2980b9;
}

.btn-accion.eliminar {
  background: #e74c3c;
  color: #fff;
}

.btn-accion.eliminar:hover {
  background: #c0392b;
}

.acciones-superiores {
  display: flex;
  justify-content: flex-end;
  min-width: 190px;
}

.btn-agregar {
  background: #009688;
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 8px;
  font-size: 0.95rem;
  cursor: pointer;
  font-weight: 600;
  transition: background 0.3s ease, transform 0.2s ease;
}

.btn-agregar:hover {
  background: #00796b;
  transform: scale(1.05);
}

.paginador {
  display: flex;
  justify-content: center;
}

::ng-deep .ngx-pagination li {
  display: inline-block;
  margin: 0 5px;
}

::ng-deep .ngx-pagination .current {
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  padding: 5px 10px;
}

.dfmin{
  display: flex;
  max-height: 40px;
  flex-direction: row;

}

@media (max-width:972px) {
  .buscador{
    margin: 0 20px;}
}
@media (max-width:771px) {
  .buscador{
    margin: 0 ;}
  .dfmin{
  display: flex;
  max-height: 120px;
  gap: 5px;
  padding-right: 25px;
}
.accions {
  gap: 10px;
  
}
}
@media (max-width: 654px) {
.dfmin{
  display: flex;
  flex-direction: column;
  max-height: 120px;
  gap: 5px;
  padding-right: 25px;
}
.accions{
  
    padding-bottom: 55px;
}
.dnone{
  display: none;
}
}


@media (max-width: 340px) {
.dnones{
  display: none;
}}