.eventos-container {
  padding: 20px;
}

.tabla-eventos {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.tabla-eventos th, .tabla-eventos td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: center;
}

.tabla-eventos tr:hover {
  background-color: #f1f1f1;
  cursor: pointer;
}

.detalle {
  margin-top: 20px;
  padding: 15px;
  border: 1px solid #009688;
  background: #e0f2f1;
  border-radius: 8px;
}
