

<main class="content" id="actuadores">
  <h2>Actuadores</h2>
  <div class="devices">
    @for(dispositivo of dispositivosFiltrados() | paginate: { itemsPerPage: 5, currentPage: paginaActual };let i = $index; track dispositivo.idDispositivo){
    <div class="device-card" >
      <div class="actuador-card">
        <div class="actuador-info">
          <h3>{{ dispositivo.nombre }}</h3>
          <img [src]="dispositivo.image" alt="{{ dispositivo.nombre }}" />
        </div>

        <div *ngFor="let actuador of dispositivo.actuadores" class="actuador-controls" >
          <mat-slide-toggle
  [checked]='(actuador.idAccionAct)=="80b8364b-8603-42d9-b857-0db5f055c6fd"'
  (change)="onToggleChange($event,dispositivo)"
  aria-label="Orden descendente"
>
  
</mat-slide-toggle>


        </div>
      </div>

    </div>
  }
  </div>
  
<pagination-controls
  (pageChange)="paginaActual = $event"
  previousLabel="Anterior"
  nextLabel="Siguiente"
  class="paginador">
</pagination-controls>
</main>
