.sugerencias-container {
  font-family: Arial, sans-serif;
}

.sugerencias-container h2 {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 5px;
  color: #000000;
}
.message{
  
    min-width: 300px;
}
/* Tabla */
.tabla-sugerencias {
  padding-left: 11px;
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 10px;
  font-size: 0.95rem;
}

.tabla-sugerencias thead tr {
  background: #009688;
  color: #fff;
  text-align: left;
  font-weight: bold;
}

.tabla-sugerencias th,
.tabla-sugerencias td {
  padding: 12px 10px;
}

.tabla-sugerencias tbody tr {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.05);
  transition: all 0.2s ease-in-out;
}

.tabla-sugerencias tbody tr:hover {
  transform: scale(1.01);
  background: #f9f9f9;
  cursor: pointer;
}

/* Botón eliminar */
.btn-eliminar {
  background: #e74c3c;
  color: #fff;
  border: none;
  padding: 6px 12px;
  border-radius: 6px;
  font-size: 0.85rem;
  cursor: pointer;
  transition: all 0.2s ease;
}

.btn-eliminar:hover {
  background: #c0392b;
  transform: scale(1.05);
}

/* Estado vacío o carga */
.loading,
.sin-datos {
  text-align: center;
  font-style: italic;
  margin-top: 15px;
  color: #555;
  font-size: 0.95rem;
}

.paginador {
  display: flex;
  justify-content: center;
}

::ng-deep .ngx-pagination li {
  display: inline-block;
  margin: 0 5px;
}

::ng-deep .ngx-pagination .current {
  background-color: #3f51b5;
  color: white;
  border-radius: 4px;
  padding: 5px 10px;
}

.minw{
  min-width: 120px;
}

.buscador{
  width: 350px;
  margin: 10px auto;
}

.buscador input{
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

@media (max-width: 654px) {
.message{
     min-width:0; 
}
.minw{
     min-width:0; 
}
.dnone{
  display: none;
}
.tabla-sugerencias th,
.tabla-sugerencias td {
  padding: 8px 4px;
}.tabla-sugerencias {
     padding-left: 0;
    }
}