<div class="sugerencias-container">



<h2>Sugerencias</h2>
  <table  class="tabla-sugerencias">
    <thead>
      <tr>
        <th class="dnone">N°</th>
        <th>Usuario</th>
        <th>Mensaje</th>
        <th>Fecha</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      
      @for (sugerencia of ((sugerencias$ | async) || []) 
      
       | paginate: { itemsPerPage: 5, currentPage: paginaActual }; 
       let i = $index; track sugerencia.idSugerencia) {
      <tr>
        <td class="dnone">{{ i + 1 }}</td>
        <td>{{ sugerencia.usuario || 'Anónimo' }}</td>
        <td class="message">{{ sugerencia.mensaje }}</td>
        <td class="minw">{{ sugerencia.fecha | date:'dd/MM/yyyy HH:mm' }}</td>
        <td>
          <button class="btn-eliminar" (click)="eliminarSugerencia(sugerencia.idSugerencia)">
            Eliminar
          </button>
        </td>
      </tr>}
    </tbody>
  </table>

<pagination-controls
  (pageChange)="paginaActual = $event"
  previousLabel="Anterior"
  nextLabel="Siguiente"
  class="paginador">
</pagination-controls>
</div>
