.card-root {
  max-width: 1000px;
  margin: 12px auto;
  padding: 16px;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-root {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.mat-autocomplete-panel {
  z-index: 10000 !important;
}
/* layout helpers */
.full { width: 100%; }
.half { width: 48%; display: inline-block; }
.third { width: 32%; display: inline-block; }
.quarter { width: 24%; display: inline-block; }
.sixth { width: 16%; display: inline-block; }

/* contenedor de items: usamos column-reverse para que el último añadido se muestre arriba visualmente */
.array-container {
  display: flex;
  flex-direction: column-reverse; /* <-- hace que lo nuevo aparezca arriba */
  gap: 12px;
  margin-top: 8px;
}

/* tarjeta individual */
.card-item {
  border: 1px solid #e0e0e0;
  padding: 10px;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  background: #fff;
}
.mat-mdc-select-panel {
  background-color: white !important;
}
/* asegurar que inputs on/off no se salgan */
.row {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
}

.item-actions {
  display: flex;
  align-items: center;
}
::ng-deep .mat-mdc-select-panel,
::ng-deep .mat-mdc-option {
  background: #fff !important;   
  color: #000 !important;    
}
.form-root .full {
  width: 100%;
}
.form-root .half {
  width: 48%;
  display: inline-block;
}
.form-root .third {
  width: 30%;
  display: inline-block;
}
.form-root .sixth {
  width: 15%;
  display: inline-block;
}
.w100{
  width: 100%!important;
  min-width: 191px;
  max-width: 500px;
}
.w30{
  width: 100%!important;
  max-width: 30%;
  min-width: 80px;

}
.dialog-container {
  max-height: 80vh;   /* limite de altura */
  overflow-y: auto;   /* scroll vertical */
  padding: 16px;
}

/* container específico para sensores/actuadores para un mejor scroll si hay muchos */
.sensors-container, .actuadores-container {
  max-height: 340px;
  overflow: auto;
  padding: 6px;
}

/* responsive */
@media (max-width: 900px) {
  .half, .third, .quarter, .sixth {
    width: 100%;
    display: block;
  }
}
