<div class="filters-panel">
  <mat-form-field appearance="fill" class="filter-item">
    <mat-label>Tipo de Medición</mat-label>
    <mat-select [(value)]="selectedMeasurementType" (selectionChange)="onMeasurementTypeChange()">
      <mat-option  value="Todos">
            --
      </mat-option>
        @for(m of measurementTypes ; track m){
            
      <mat-option [value]="m.idTipoMedicion">
        {{ m.nombre }}
      </mat-option>}
    </mat-select>
  </mat-form-field>

  <mat-slide-toggle
    [checked]="isDescending"
    (change)="onOrderChange($event)"
    aria-label="Orden descendente"
  >
    Orden descendente
  </mat-slide-toggle>
</div>
